<div class="dropdown">
  <span class="dropdown__label">Ordenar por:</span>
  <div class="dropdown__select">
    <button #buttonSelect (click)="onDropdownButtonClick()" class="dropdown__button" aria-labelledby="dropdown__label">
      {{selectedOptionText}}
      <img class="dropdown__icon" src="/assets/images/expand_more_24px.png" alt="Ícone de expandir">
    </button>
    <div class="dropdown__content" [ngStyle]="{'display': display ? 'block' : 'none' }">
      <a *ngFor="let option of options" href="javascript:void(0)"
        [ngClass]="{'active': option.text === selectedOptionText}"
        (click)="onSelectOption(option.value)">{{option.text}}</a>
    </div>
  </div>
</div>