@import "../styles/variables.scss";

.content {
  display: flex;
  justify-content: center;
  padding: 95px 0;
  margin: 0 auto;
  max-width: 1250px;
  color: $text; 

  @media (max-width: $desktop) {
    padding: 66px 0;
  }
}